<nav>
  <ul>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('index') }}">Team division</a></li>

    <li>
      <form id="uploadForm" enctype="multipart/form-data" onsubmit="event.preventDefault(); uploadImage();">
        <input class="hidden-file-input" type="file" name="file" id="fileInput" accept="image/*" onchange="updateFileName()">
    
        <button type="button" onclick="document.getElementById('fileInput').click();" class="btn btn-secondary">Choose File</button>
        <span id="fileName" style="margin-left: 10px; color: white;">No file chosen</span>

        <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Upload and Detect</button>
      </form>
    </li>
  </ul>
</nav>
