<nav>
  <ul>
    <li>
      <a href="{{ url_for('index') }}">Hem</a>
      
    </li>
    <li>
      <a href="{{ url_for('index') }}">session</a>
      
    </li>
    
    {% if session.get('owner_id') %}
    <li>
      <!-- Visa "Radera Rum"-knappen endast för rumsägaren -->
      <form action="{{ url_for('game.delete_room') }}" method="POST" style="display:inline;">
        <button type="submit" onclick="return confirm('Är du säker på att du vill radera rummet?')">
          Radera Rum
        </button>
      </form>
    </li>
    {% endif %}
  </ul>
</nav>