.game-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #fff;
  padding: 5px;
  max-width: fit-content(20em);
}

.game-card {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  border-color: #eae5e1;
  background-color: #faebd7; /* Lätt bakgrundsfärg för korten */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Skugga för att ge djup */
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red { background-color: red; }
.blue { background-color: blue; }
.beige { background-color: #f5deb3;}
.black { background-color: black; }

.game-card:hover {
  transform: scale(1.05); /* Gör kortet större vid hover */
}

.game-card-text-wrapper {
  padding: 10px;
  border-color: #a48779;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
}
.game-card-text {
  /* font-size: 1.2em; */
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0;
}

