.game-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #fff;
  padding: 5px;
  max-width: fit-content(20em);
}

.game-card {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  border-color: #eae5e1;
  background-color: #faebd7; /* Lätt bakgrundsfärg för korten */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Skugga för att ge djup */
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red { 
  /* background-color: red; */
  border: 5px solid red; 
}
.blue { 
  /* background-color: blue; */
  border: 5px solid blue; 
}
.beige { 
  border: inherit;
}
.black { 
  /* background-color: black; */
  border: 5px solid black; 
}

.game-card:hover {
  transform: scale(1.05); /* Gör kortet större vid hover */
}

.game-card-text-wrapper {
  padding: 10px;
  border-color: #a48779;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
}
.game-card-text {
  /* font-size: 1.2em; */
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 0;
}

@media only screen and (orientation: landscape) {
  /* Här ställer du in layouten för liggande läge */

  .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100vh;  /* Gör att innehållet centreras vertikalt */
  }

  .game-wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr); /* 5 kolumner */
      grid-gap: 10px;
  }

  .game-card {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: white;
  }
}

@media only screen and (orientation: portrait) {
  /* Anpassa layouten för stående läge på mobil */
  .container {
      display: block;
      margin: 0 auto;
      padding: 10px;
  }

  .game-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Mindre kolumner i stående */
      grid-gap: 8px;
  }
}